.display-1{
    color:white;
    font-family: cursive;
    text-shadow: 2px 2px 3px rgb(144, 6, 29);
}
.iceNav {
    background-image: url(../assets/images/BlueGradient2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.mainBody{
    background-image: url(../assets/images/gradientPic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    
}
.iceBreakerBody{
    background-image: url(../assets/images/BlueGradient2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    
}
.search-button {
    margin: 0 0 20px 0;
}

label {
    font-size: 100%;
    color:rgb(255, 255, 255);
    text-shadow: 1px 2px 2px black;
}
.labelModal{
    font-size: 100%;
    color:black;
}
button {
    float: left;
    margin: 4px; 
    text-shadow: 1px 2px 2px rgb(121, 8, 8);
}
.form-control modal1{
    color:red;
    text-shadow: 1px 2px 2px rgb(121, 8, 8); 
}
/* input {
  color:white;
  text-shadow: 1px 2px 2px rgb(121, 8, 8); 
} */
#mymap {
    height: 400px;
}
.card-header{
    font-size: 2rem;
    font-family: cursive;
    color: rgb(5, 5, 5);
    text-shadow: 2px 2px 2px white;
}
h1 {
    font-size: 3.2rem;
    line-height: 75%;
    margin: .8rem 0 1.68rem 0;
}
.formRest {
    color: white;
}
/* css for forms */
/* .formRest, .formDrug, .formLogin, .formModalLogin {

} */

.border-light{
    background-color: #fff;
    background-position: center;
    background-size: 33%;
    border: 3px solid black;
}
.icebreaker{
    text-align: center;
    background-image: url(../assets/images/brokenice2.jpg);
    background-position: center;
    background-size: 33%;
    border: 3px solid rgb(69, 161, 197);
} 
#jokeGen {
    color: rgb(5, 5, 5);
    text-shadow: 2px 2px 2px white;
    font-size: 1.5rem;
}
#jokeQ {
    color: rgb(5, 5, 5);
    text-shadow: 2px 2px 2px white;
    font-size: 1.25rem;
}
#resultsSpace {
    float: left;
}
.form-group {
    color:#fff;
    text-shadow: 2px 2px 2px rgb(29, 0, 0);
 }
 .form-control {
     color:#fff;
    text-shadow: 2px 2px 2px rgb(29, 0, 0);
 }
/* .modal {
    color: black; 
    
} */
/* .modal-content {
    margin: 0; 
    padding: 20px;
    font-size: 11pt;
    text-align: center;
    border: 1px solid #888;
    width: 80%; 
  }
  .close {
    color: blue;
    text-align: center;
    float: right;
    font-size: 11pt;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } */

.navbarMain {
    background-image: url(../assets/images/gradientPic.jpg);
}
.jokes {
    float: left;
    margin:5px;
    padding:10px;
}

<<<<<<< HEAD
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #f5f5f5;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(0, 0, 2);
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.5);
  }
  
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
=======
#new-search {
    display: none;
}
>>>>>>> b950e9e902771b40ecaeb57325fc8ef0dfe9b260
