.display-1{
    color:white;
    font-family: cursive;
    text-shadow: 2px 2px 3px rgb(144, 6, 29);
}
.banner {
    /* background-image: url(../assets/images/abstract-hearts-background.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.mainBody{
    background-image: url(../assets/images/First-Date.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card-header{
    font-size: 2rem;
    font-family: cursive;
    color: rgb(5, 5, 5);
    text-shadow: 2px 2px 2px white;
}
.card{
    text-align: center;
    background-image: url(../assets/images/brokenice2.jpg);
    background-position: center;
    background-size: 95%;
    border: 3px solid black;
} 
#jokeGen {
    color: rgb(5, 5, 5);
    text-shadow: 2px 2px 2px white;
    font-size: 1.5rem;
}
#jokeQ {
    color: rgb(5, 5, 5);
    text-shadow: 2px 2px 2px white;
    font-size: 1.25rem;
}